<div class="container">

    <!-- section title -->
    <h2 class="section-title wow fadeInUp">Experiencia</h2>

    <div class="spacer-60"></div>

    <div class="row">

        <div class="col-md-6">

            <!-- timeline wrapper -->
            <div class="timeline edu rounded bg-white shadow-dark padding-30 overflow-hidden">

                <!-- timeline item -->
                <div class="timeline-container wow fadeInUp">
                    <div class="content">
                        <span class="time">2017 - Presente</span>
                        <h3 class="title">Ingeniero de sistemas</h3>
                        <p>Curso actualmente la carrera profesional de Ingeniería de Sistemas.</p>
                    </div>
                </div>

                <!-- timeline item -->
                <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
                    <div class="content">
                        <span class="time">2015 - 2017</span>
                        <h3 class="title">Técnico profesional en soporte de sistemas</h3>
                        <p>Egresado del Politecnico Colombiano Jaime Isaza Cadavid, ganador de la feria de Proyectos Integradores.</p>
                    </div>
                </div>

                <!-- timeline item -->
                <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
                    <div class="content">
                        <span class="time">2012 - 2015</span>
                        <h3 class="title">Estudiante de algoritmia</h3>
                        <p>No culminado.</p>
                    </div>
                </div>

                <!-- main line -->
                <span class="line"></span>

            </div>

        </div>

        <div class="col-md-6">

            <!-- responsive spacer -->
            <div class="spacer-30 d-md-none d-lg-none"></div>

            <!-- timeline wrapper -->
            <div class="timeline exp bg-white shadow-dark rounded padding-30 overflow-hidden">

                <!-- timeline item -->
                <div class="timeline-container wow fadeInUp">
                    <div class="content">
                        <span class="time">2020 - Presente</span>
                        <h3 class="title">Analista de Integración</h3>
                        <p>Actualmente me desempeño como Analista de integración en Konecta Colombia.</p>
                    </div>
                </div>

                <!-- timeline item -->
                <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
                    <div class="content">
                        <span class="time">2019 - 2020</span>
                        <h3 class="title">Desarrollador web</h3>
                        <p>En este cargo participe en desarrollo de aplicaciones web en PHP, apoyandonos en lenguajes como JavaScript y tecnologías Jquery, Ajax, entre otras. Además, participe activamente para incluir en el flujo de trabajo el sistema de
                            control de versiones Git y capacité a los desarrolladores y demás. También creé un programa para escaneo de archivos, copiado y guardado en C y posteriormente en PHP.
                        </p>
                    </div>
                </div>

                <!-- timeline item -->
                <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
                    <div class="content">
                        <span class="time">2016 - 2018</span>
                        <h3 class="title">Desarrollador Back-End</h3>
                        <p>Participé en proyectos web y escritorio en el equipo Inerxia Team. Las funciones principales en las que me desempeñé fue en la construcción de componentes de software de comunicación e integración, web services, APIs usando Java.</p>
                    </div>
                </div>

                <!-- main line -->
                <span class="line"></span>

            </div>

        </div>

    </div>

</div>