<div class="container">

    <!-- section title -->
    <h2 class="section-title wow fadeInUp">Servicios</h2>

    <div class="spacer-60"></div>

    <div class="row">

        <div class="col-md-4">
            <!-- service box -->
            <div class="service-box rounded data-background padding-30 text-center text-light shadow-blue bg-blue">
                <img src="assets/images/service-1.svg" alt="UI/UX design" />
                <h3 class="mb-3 mt-0">Desarrollo de software</h3>
                <p class="mb-0">Desarrollo software web, del lado del servidor, apps movil, de escritorio y consolas o CLI</p>
            </div>
            <div class="spacer-30 d-md-none d-lg-none"></div>
        </div>

        <div class="col-md-4">
            <!-- service box -->
            <div class="service-box rounded data-background padding-30 text-center shadow-yellow bg-yellow">
                <img src="assets/images/service-2.svg" alt="UI/UX design" />
                <h3 class="mb-3 mt-0">Diseño de bases de datos</h3>
                <p class="mb-0">Diseño bases de datos relacionales o NoSQL.</p>
            </div>
            <div class="spacer-30 d-md-none d-lg-none"></div>
        </div>

        <div class="col-md-4">
            <!-- service box -->
            <div class="service-box rounded data-background padding-30 text-center text-light shadow-pink bg-pink">
                <img src="assets/images/service-3.svg" alt="UI/UX design" />
                <h3 class="mb-3 mt-0">Soporte y consultoría</h3>
                <p class="mb-0">Soporte a sus aplicaciones y asesoría para leventar nuevo software.</p>
            </div>
        </div>

    </div>

    <div class="mt-5 text-center">
        <p class="mb-0">¿Buscas un trabajo personalizado? <a href="javascript:" (click)="scrollTo('contact')">Click aquí</a> para contactarme! 👋</p>
    </div>

</div>